<?xml version="1.0" encoding="utf-8"?>
<settings>
    <connectionString>user id=sa;password=8109275355;server=DESKTOP-R3Q2F66\SQLEXPRESS;Trusted_Connection=no;database=jems_database_3;connection timeout=5;</connectionString>
    <terminal>1</terminal>
    <limitMenuItems>false</limitMenuItems>
</settings>